/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    background-color: lightblue;
}

h1 {
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-size: 35px;
  color: darkolivegreen;
}

p {
  font-size: 19px;
  font-style: italic;
}

h4 {
  color: darkolivegreen;
}

/*#num {
font-family: sans-serif;
padding: .375rem .75rem;    
font-size: 1.2rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
appearance: none;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}*/

@media only screen and (min-width: 768px) {

h1 {
  font-size: 60px;
}

}